name: cx-ast
on:
  pull_request:
    branches:
      - master
#  push:
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Download SCA Resolver
        run: |
          wget -q https://sca-downloads.s3.amazonaws.com/cli/latest/ScaResolver-linux64.tar.gz
          tar -xzvf ScaResolver-linux64.tar.gz
          rm -rf ScaResolver-linux64.tar.gz
          
      - name: Install Maven, NPM, ... # Add any necessary package management
        run: |
          sudo apt install -q openjdk-8-jdk maven
          mvn dependency:tree
          mvn install -q -DskipTests
          
      - name: Checkmarx AST GitHub Action
        uses: Checkmarx/ast-github-action@2.0.1
        with:
          project_name: fef-ast-gh-action-sca-resolver-example
          base_uri: ${{ secrets.AST_URI }}
          cx_tenant: ${{ secrets.CX_TENANT }}
          cx_client_id: ${{ secrets.CX_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
          additional_params: --sca-resolver ./ScaResolver --debug

